/* Table of contents  */
/* 1. FONTS */
/* 2. GENERAL STYLES */
/* 3. CONTAINER */
/* 4. SITE-HEADER  */
/* 5. LOGO */
/* 6. EXCHANGE-RATE */
/* 7. SEARCH-BUTTON */
/* 8. LANGUAGE-TOGGLER */
/* 9. TELEGRAM-SUB */



/* Fonts from "google-webfonts-helper" */
@font-face {
  font-display: swap; 
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/roboto-v30-latin-regular.woff2") format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../webfonts/roboto-v30-latin-italic.woff2") format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/roboto-v30-latin-500.woff2") format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../webfonts/roboto-v30-latin-500italic.woff2") format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/rubik-v28-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap; 
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/rubik-v28-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap; 
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/rubik-v28-latin-700.woff2") format("woff2");
}

/* General styles */

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
*:focus {
  outline: 0;
  box-shadow:0 0 0 4px rgba(41, 80, 147, 0.4);
}

/* Container */

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}


/* SITE-HEADER */

.site-header {
  padding-top: 40px;
  padding-bottom: 23px;
  border-top: 4px solid #295093;
  background-color: #f6f6f9;
}

.site-header_top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  font-size: 16px;
  line-height: 19px;
}

.site-header_actions {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

/* LOGO */

.logo {
  display: flex;
  padding: 4px 8px;
  border-radius:5px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgb(202, 202, 202, 0.25);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.025);
}

.logo:focus {
  box-shadow:0 0 0 4px rgba(41, 80, 147, 0.4);
}


/* EXCHANGE-RATE */

.exchange_rates {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0; 
  margin-left: 17px;
  list-style-type: none;
  color:#7A7A7A;
}

.exchange-rates_item:not(:last-child) {
  margin-right: 26px;
}

.exchange-rates_icon {
  color: #285193;
}

/* SEARCH-BUTTON */

.search-button {
  padding: 0;
  border: none;
  margin-right: 22px;
  background-color:#fff;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.search-button_wrapper {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LANGUAGE-TOGGLER */

.language-toggler {
  padding: 10px;
  border: none;
  margin-right: 24px;
  background-color:#fff;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.language-toggler_wrapper {
  display: flex;
  align-items: center;
  font-weight: 500;    
}

.language-toggler_img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.search-button:hover, .language-toggler:hover, .telegram-sub:hover {
  box-shadow: 0 5px 8px rgba(0,0,0,0.1);
}

/* TELEGRAM-SUB */

.telegram-sub {
  align-items:center;
  padding: 10px;
  border-radius: 5px;
  color:#fff;
  background-color: #1e96c8;
  text-decoration: none;
  background-image: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 96%);
  transition: box-shadow 0.3s ease;
}

.telegram-sub:hover {
  background-image: linear-gradient(90deg, #37aee2 15.07%, #1e96c8 96%);
}

.telegram-sub_img {
  margin-right: 7px;
}

.telegram-sub_text {
  font-weight: 500px;
  align-items: center;
}

